<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teeda HTML Example</title>
</head>
<body>
<ol>
<li>
	<a id="info" href="/zins-work-shop/view/page/info.html">このサイトについて</a><br/>
</li>
<li>
	<a id="gallery" href="/zins-work-shop/view/page/gallery.html">ギャラリー</a><br/>
</li>
<li>
	<a id="android" href="/zins-work-shop/view/page/game.html">Androidアプリ開発</a><br/>
</li>
<li>
	<a id="oldCoin" href="/zins-work-shop/view/page/oldCoin.html">古銭</a><br/>
</li>
<li>
	<a id="xstitch" href="/zins-work-shop/view/page/xstitch.html">刺繍</a><br/>
</li>
<li>
	<a id="coffeeDB" href="/zins-work-shop/view/page/coffee.html">コーヒー缶データベース</a><br/>
</li>
</ol>
</body>
</html>